.logo{
	background-color:#fff;
}
.navbar{
	background-color: #000;
	height: 8vh;
}
#navlink a{
	color:#fff;
}
#home{
	height:92vh;
}

#features{
	background-color: #f2f2f2;
}
.fluid-container > .row{
	max-width: 1903px;	
}
	#features .image img{
		width: 634px;
	}
	#features article{
		background-color: #fff;
		padding: 0;
		width: 650px;
	}

	#features .content{
		margin: 40px;
	}

#activite td{
	width: 160px;
	height: 30px;
}
#activite table button{
	width: 100%;
}
#activite h2{
	margin-bottom: 80px;
}
.text-primary{
   color:#fff!important
}
#admin{
	width: 100%;
	background-color:#f2f2f2;
}
#admin label{
	line-height: 42px;
}
#admin .cadre{
	background-color: #fff;
	padding: 40px 30px 40px 30px;
}
#coach, #activite{
	margin-top: 80px;
}
#admin select,#admin input{
	height: calc(2.25rem + 12px);
}