.logo{
	background-color:#fff;
}
.navbar{
	background-color: #000;
	height: 8vh;
}
#navlink a{
	color:#fff;
}
#home{
	height: 100vh;
}

#features{
	height: 95vh;
	background-color: #f2f2f2;
}

#contact{
	height: 100vh;

}
.fluid-container > .row{
	max-width: 1903px;	
}
	#features .image img{
		width: 634px;
	}
	#features article{
		background-color: #fff;
		padding: 0;
		width: 650px;
	}

	#features .content{
		margin: 40px;
	}


#activite td{
	width: 160px;
	height: 30px;
}
#activite table button{
	width: 100%;
}
#activite h2{
	margin-bottom: 80px;
}
.text-primary{
   color:#fff!important
}
#admin{
	padding-top: 120px;
	width: 100%;
}